body{
    background-color: #ffffff;
    color: black;
}

.colorRed{
    color: red;
}

p{
    color: black;
}

.bg-color-nav-top{
    background-color: #ffffff;
    width: 100%;
}

.bg-color-nav-bottom{
    background-color: #54c7E2;
    width: 100%;
    height: 20px;
}

.space-search{
    margin:auto;
}

.form-control, .btn{
    border-radius:1.25rem;
}

.btn-outline-success{
    color:#ffffff;
}

.btn{
    background-color: #1A9DAE;
}

.logo{
    margin-left: 50px;
    padding-right:20px;
}

.sous-menu{
    padding-left:35px;
    color:#aaa;
}

.center{
    margin: auto;
    text-align: center;
}

.entreBouton{
    width:10px;
}

.container_art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 5%;
  }

/*
.background-header404{
    background-image: url(../../public/images/background-404.jpg);
    height: 100%;
    width: 100%;
}
*/
footer{
    background-color: #1A9DAE;
}

footer a{
    color:white;
}

footer h5, footer p{
    color:white;
}

footer .telephone{
    content: \f098;
    width:16px;
    height:16px;
}

footer .mail{
    content: \f003;
}

.pt-3, .py-3 {
    padding-top: 0rem!important;
}

.min-height{
    min-height: 600px;
}

.container{
    padding:20px 0px 20px 0px;
}

.padding-top100{
    padding-top: 10%;
}

/*.navbar{
    padding : 0.5rem 0rem 0rem 3rem;
}

.navbar-brand{
    padding-top: 0rem;
    padding-bottom:0.5rem;
}

.nav_article{
    clear: both;
    width:100%;
    height:15px;
    background-color: #54C7E2;
    color: #ffffff;
}*/